.nav {
  height: 60px;
  display: flex;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav__logo {
  width: 100px;
  object-fit: contain;
  margin: 0 20px;
  margin-top: 18px;
}

.nav__optionLineOne {
  font-size: 20px;
  font-weight: 800;
}

.nav__optionLineTwo {
  font-size: 20px;
  font-weight: 800;
}


.nav__nav {
  display: flex;
  justify-content: space-evenly
}

.nav__option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}



  a {
    color: black;
  }
  a.button {
    display: inline-block;
    padding: 0.7em 1em;
    border: 0.1em solid #ffffff;
    margin: 0 0.1em 0.1em 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    color: #ffffff;
    text-align: center;
    transition: all 0.15s;
  }
  
  a.button:hover {
    color: #dddddd;
    border-color: #dddddd;
  }
  
  a.button:active {
    color: #bbbbbb;
    border-color: #bbbbbb;
  }