

* {
  box-sizing: border-box;
}

html,
#root,  
body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  animation: fadeInAnimation ease 4s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  z-index: -1;
}

.plane {
  z-index: -1;
}

.generate_button {
  color: rgb(0, 0, 0);
  position: absolute;
  top: 28em;
  left: 1em;
  border: 0.1em solid #ffffff;
  margin: 0 0.1em 0.1em 0;
  box-sizing: border-box;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 400;
  color: #000000;
  text-align: center;
  transition: all 0.15s;
}

.generate_button:hover {
  color: #dddddd;
  border-color: #dddddd;
}

.generate_button:active {
  color: #bbbbbb;
  border-color: #bbbbbb;
}